{% extends 'main/layout.html' %}

{% block content %}
<div class="home-page">
    <p class="home-text">Высшая школа прикладной математики и вычислительной физики (ВШПМиВФ) создана в Санкт-Петербургском политехническом университете Петра Великого (СПбПУ) в 2019 г. Входящая в состав высшей школы секция "Гидроаэродинамика, горение и теплообмен" объединяет научно-педагогические коллективы, сформировавшиеся ранее на кафедрах гидроаэродинамики и теплофизики.</p>
    <p class="home-text">Как структурное подразделение, кафедра гидроаэродинамики, имеющая богатую историю, была основана на физико-механическом факультете (ФМФ) в 1935 г. профессором Л.Г. Лойцянским, руководившим ею в течение сорока лет. Создание кафедры явилось естественным следствием становления и развития на ФМФ в 1919-1934 гг. цикла курсов по специальности "Аэро- и гидромеханика", входившей в сформированную профессором А.А. Фридманом группу механических специальностей факультета. За годы существования кафедра выпустила более полутора тысяч специалистов, направления подготовки которых и характер научных исследований в области механики жидкости и газа всегда были ориентированы на наиболее актуальные проблемы своего времени. В 2012 г. при организации Института прикладной математики и механики (ИПММ) в состав кафедры гидроаэродинамики влился научно-педагогический коллектив кафедры теплофизики.</p>
    <p class="home-text">Кафедра теплофизики была создана в 1931 г. на физико-механическом факультете, имевшем в 1931-1934 гг. статус самостоятельного института (Ленинградский физико-механический институт – ЛФМИ). До 1945 г. она именовалась кафедрой физической теплотехники, а ее первым заведующим был профессор А.А. Гухман. С 1937 г., в течение почти тридцати лет (с перерывом на военные годы) кафедру возглавлял профессор И.И. Палеев. За годы существования кафедры теплофизики из стен Политеха вышли более полутора тысяч специалистов в данной предметной области. Богатой истории кафедры принадлежат и предшествующие годы впечатляющего развития теплотехнической специальности на ФМФ (1919-1930 гг.), основателями и первыми руководителями которой были профессор М.В. Кирпичев (впоследствии академик АН СССР) и профессор А.А. Радциг.</p>
    <p class="home-text"></p>
    <p class="home-text"></p>


</div>


{% endblock%}