{% extends 'main/layout.html' %}

{% block content %}
<div class="home-page_2">
    <h2 class="home-text_2">ОСНОВНЫЕ НАПРАВЛЕНИЯ НАУЧНЫХ ИССЛЕДОВАНИЙ</h2>
    <p class="home-text_2">· Численное моделирование турбулентных течений в областях сложной геометрии (рук. профессор Смирнов Е.М., профессор Зайцев Д.К.)</p>
    <p class="home-text_2">· Развитие и изучение возможностей метода моделирования отсоединенных вихрей (МОВ, DES) применительно к моделированию турбулентных отрывных потоков. Вычислительная аэроакустика (рук. профессор Стрелец М.Х.)</p>
    <p class="home-text_2">· Экспериментальное изучение и моделирование свободноконвективных течений (рук. профессор Чумаков Ю.С.)</p>
    <p class="home-text_2">· Экспериментальные и расчетные исследования нестационарных газодинамических течений (рук. доцент Булович С.В.)</p>
    <p class="home-text_2">· Разработка программных средств для решения ресурсоемких задач гидрогазодинамики на высокопроизводительных кластерных системах (рук. профессор Смирнов Е.М.)</p>
    <p class="home-text_2">· Вычислительные модели и задачи оптимизации сложных вентиляционных течений (рук. доцент Иванов Н.Г.)</p>
    <p class="home-text_2">· Гидродинамика кровообращения (рук. профессор Смирнов Е.М.)</p>
    <p class="home-text_2">· Численное моделирование горения и теплообмена при пожаре (рук. профессор Снегирёв А.Ю.)</p>
    <p class="home-text_2">· Экспериментальное исследование и численное моделирование горючести материалов (рук. профессор Снегирёв А.Ю.)</p>


</div>


{% endblock%}