{% extends 'main/layout.html' %}
 {% block content %}
		<div class="container">


					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/smirnov.jpg alt="Преподаватель">
						<h3>Смирнов Евгений Михайлович </h3>
						<p>д.ф.-м.н. профессор научный руководитель магистерской программы &quot;Модели и высокопроизводительные вычисления в физической гидрогазодинамике&quot;</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/zajtsev.jpg alt="Преподаватель">
						<h3>Зайцев Дмитрий Кириллович </h3>
						<p>д.ф.-м.н. профессор</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/pashkevich.jpg alt="Преподаватель">
						<h3>Пашкевич Дмитрий Станиславович </h3>
						<p>д.т.н. профессор научный руководитель магистерской программы &quot;Экспериментальная и вычислительная теплофизика&quot;</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/strelets.jpg alt="Преподаватель">
						<h3>Стрелец Михаил Хаймович </h3>
						<p>д.ф.-м.н. профессор </p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/chumakov.jpg alt="Преподаватель">
						<h3>Чумаков Юрий Сергеевич </h3>
						<p>д.ф.-м.н. профессор</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/abramov.jpg alt="Преподаватель">
						<h3>АбрАмов Алексей Геннадьевич </h3>
						<p>к.ф.-м.н. доцент</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/bulovich.jpg alt="Преподаватель">
						<h3>Булович Сергей Валерьевич </h3>
						<p>к.ф.-м.н. доцент</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/galaev.jpg alt="Преподаватель">
						<h3>Галаев Сергей Александрович </h3>
						<p>к.т.н. доцент</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/garbaruk.jpg alt="Преподаватель">
						<h3>Гарбарук Андрей Викторович</h3>
						<p>д.ф.-м.н. доцент</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/zasimova.jpg alt="Преподаватель">
						<h3>Засимова Марина Александровна </h3>
						<p>к.ф.-м.н. доцент</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/ivanov.jpg alt="Преподаватель">
						<h3>Иванов Николай Георгиевич </h3>
						<p>к.ф.-м.н. доцент директор высшей школы</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/kitanina_e.jpg alt="Преподаватель">
						<h3>Китанина Екатерина Эдуардовна </h3>
						<p>к.т.н. доцент</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/kolesnik.jpg alt="Преподаватель">
						<h3>КолесниК Елизавета Владимировна </h3>
						<p>к.ф.-м.н. доцент</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/levchenya4.jpg alt="Преподаватель">
						<h3>Левченя Александр Михайлович </h3>
						<p>к.ф.-м.н. доцент</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/pletnev.jpg alt="Преподаватель">
						<h3>Плетнев Александр Александрович </h3>
						<p>к.т.н. доцент</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/smirnovs.png alt="Преподаватель">
						<h3>СмирновСкий Александр Андреевич </h3>
						<p>к.ф.-м.н. доцент</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/talalov.jpg alt="Преподаватель">
						<h3>Талалов Виктор Алексеевич </h3>
						<p>к.т.н. доцент</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/shur.jpg alt="Преподаватель">
						<h3>Шур Михаил Львович </h3>
						<p>к.ф.-м.н. доцент </p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/gataulin.jpg alt="Преподаватель">
						<h3>Гатаулин Яков Александрович</h3>
						<p>ассистент</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/golubkov.jpg alt="Преподаватель">
						<h3>Голубков Валентин Денисович</h3>
						<p>ассистент</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/sinitsina.jpg alt="Преподаватель">
						<h3>Синицына Дарья Эдуардовна</h3>
						<p>ассистент</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/muhortova.jpg alt="Преподаватель">
						<h3>Мухортова Светлана Валерьевна</h3>
						<p>инженер</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/pozhilov.jpg alt="Преподаватель">
						<h3>Пожилов Алексей Алексеевич</h3>
						<p>инженер-исследователь</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/telnov.jpg alt="Преподаватель">
						<h3>Тельнов Денис Семенович</h3>
						<p>электроник 1 категории</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/tshur.jpg alt="Преподаватель">
						<h3>Щур Николай Алексеевич </h3>
						<p>к.ф.-м.н. ведущий электроник</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/yuhnev_s.jpg alt="Преподаватель">
						<h3>Юхнев Андрей Данилович </h3>
						<p>заведующий учебной лабораторией аэродинамики и гидроупругости (УЛАиГ)</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/ignatyeva.jpg alt="Преподаватель">
						<h3>Игнатьева Нина Владимировна</h3>
						<p>электроник</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/koleshko.jpg alt="Преподаватель">
						<h3>КолешКо Сергей Борисович </h3>
						<p>к.ф.-м.н. профессор</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/snegirev.jpg alt="Преподаватель">
						<h3>Снегирёв Александр Юрьевич </h3>
						<p>д.т.н. профессор</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/stepanov.jpg alt="Преподаватель">
						<h3>Степанов Вячеслав Васильевич </h3>
						<p>к.т.н. доцент</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/shmidt.jpg alt="Преподаватель">
						<h3>Шмидт Александр Александрович </h3>
						<p>к.ф.-м.н. доцент </p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/shteinberg.jpg alt="Преподаватель">
						<h3>Штейнберг Виктор Борисович </h3>
						<p>к.т.н. доцент</p>
						<a class="links-teachers" href="">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>


		<div/>
{% endblock%}