{% extends 'main/layout.html' %}
 {% block content %}
		<div class="container">


					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/smirnov.jpg alt="Преподаватель">
						<h3>Смирнов Евгений Михайлович </h3>
						<p>д.ф.-м.н. профессор научный руководитель магистерской программы &quot;Модели и высокопроизводительные вычисления в физической гидрогазодинамике&quot;</p>
						<a class="links-teachers" href="smirnov">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/zajtsev.jpg alt="Преподаватель">
						<h3>Зайцев Дмитрий Кириллович </h3>
						<p>д.ф.-м.н. профессор</p>
						<a class="links-teachers" href="zaytsev">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/pashkevich.jpg alt="Преподаватель">
						<h3>Пашкевич Дмитрий Станиславович </h3>
						<p>д.т.н. профессор научный руководитель магистерской программы &quot;Экспериментальная и вычислительная теплофизика&quot;</p>
						<a class="links-teachers" href="paskevich">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/strelets.jpg alt="Преподаватель">
						<h3>Стрелец Михаил Хаймович </h3>
						<p>д.ф.-м.н. профессор </p>
						<a class="links-teachers" href="strelec">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/chumakov.jpg alt="Преподаватель">
						<h3>Чумаков Юрий Сергеевич </h3>
						<p>д.ф.-м.н. профессор</p>
						<a class="links-teachers" href="chumakov">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/abramov.jpg alt="Преподаватель">
						<h3>Абрамов Алексей Геннадьевич </h3>
						<p>к.ф.-м.н. доцент</p>
						<a class="links-teachers" href="abramov">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/bulovich.jpg alt="Преподаватель">
						<h3>Булович Сергей Валерьевич </h3>
						<p>к.ф.-м.н. доцент</p>
						<a class="links-teachers" href="bulovich">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/galaev.jpg alt="Преподаватель">
						<h3>Галаев Сергей Александрович </h3>
						<p>к.т.н. доцент</p>
						<a class="links-teachers" href="galaev">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/garbaruk.jpg alt="Преподаватель">
						<h3>Гарбарук Андрей Викторович</h3>
						<p>д.ф.-м.н. доцент</p>
						<a class="links-teachers" href="garbaruk">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/zasimova.jpg alt="Преподаватель">
						<h3>Засимова Марина Александровна </h3>
						<p>к.ф.-м.н. доцент</p>
						<a class="links-teachers" href="zasimova">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/ivanov.jpg alt="Преподаватель">
						<h3>Иванов Николай Георгиевич </h3>
						<p>к.ф.-м.н. доцент директор высшей школы</p>
						<a class="links-teachers" href="ivanov">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/kitanina_e.jpg alt="Преподаватель">
						<h3>Китанина Екатерина Эдуардовна </h3>
						<p>к.т.н. доцент</p>
						<a class="links-teachers" href="kitanina">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/kolesnik.jpg alt="Преподаватель">
						<h3>Колесник Елизавета Владимировна </h3>
						<p>к.ф.-м.н. доцент</p>
						<a class="links-teachers" href="kolesnik">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/levchenya4.jpg alt="Преподаватель">
						<h3>Левченя Александр Михайлович </h3>
						<p>к.ф.-м.н. доцент</p>
						<a class="links-teachers" href="levchenya">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/pletnev.jpg alt="Преподаватель">
						<h3>Плетнев Александр Александрович </h3>
						<p>к.т.н. доцент</p>
						<a class="links-teachers" href="pletnev">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/smirnovs.png alt="Преподаватель">
						<h3>Смирновcкий Александр Андреевич </h3>
						<p>к.ф.-м.н. доцент</p>
						<a class="links-teachers" href="smirnovskiy">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/talalov.jpg alt="Преподаватель">
						<h3>Талалов Виктор Алексеевич </h3>
						<p>к.т.н. доцент</p>
						<a class="links-teachers" href="talalov">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/shur.jpg alt="Преподаватель">
						<h3>Шур Михаил Львович </h3>
						<p>к.ф.-м.н. доцент </p>
						<a class="links-teachers" href="shur">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/gataulin.jpg alt="Преподаватель">
						<h3>Гатаулин Яков Александрович</h3>
						<p>ассистент</p>
						<a class="links-teachers" href="garaulin">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/golubkov.jpg alt="Преподаватель">
						<h3>Голубков Валентин Денисович</h3>
						<p>ассистент</p>
						<a class="links-teachers" href="golubkov">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/sinitsina.jpg alt="Преподаватель">
						<h3>Синицына Дарья Эдуардовна</h3>
						<p>ассистент</p>
						<a class="links-teachers" href="sinicina">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/muhortova.jpg alt="Преподаватель">
						<h3>Мухортова Светлана Валерьевна</h3>
						<p>инженер</p>
						<a class="links-teachers" href="muhortova">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/pozhilov.jpg alt="Преподаватель">
						<h3>Пожилов Алексей Алексеевич</h3>
						<p>инженер-исследователь</p>
						<a class="links-teachers" href="pozilov">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/telnov.jpg alt="Преподаватель">
						<h3>Тельнов Денис Семенович</h3>
						<p>электроник 1 категории</p>
						<a class="links-teachers" href="telnov">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/tshur.jpg alt="Преподаватель">
						<h3>Щур Николай Алексеевич </h3>
						<p>к.ф.-м.н. ведущий электроник</p>
						<a class="links-teachers" href="scur">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/yuhnev_s.jpg alt="Преподаватель">
						<h3>Юхнев Андрей Данилович </h3>
						<p>заведующий учебной лабораторией аэродинамики и гидроупругости (УЛАиГ)</p>
						<a class="links-teachers" href="uhnev">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/ignatyeva.jpg alt="Преподаватель">
						<h3>Игнатьева Нина Владимировна</h3>
						<p>электроник</p>
						<a class="links-teachers" href="ignatieva">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/koleshko.jpg alt="Преподаватель">
						<h3>Колешко Сергей Борисович </h3>
						<p>к.ф.-м.н. профессор</p>
						<a class="links-teachers" href="koleshko">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/snegirev.jpg alt="Преподаватель">
						<h3>Снегирёв Александр Юрьевич </h3>
						<p>д.т.н. профессор</p>
						<a class="links-teachers" href="snegirev">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/stepanov.jpg alt="Преподаватель">
						<h3>Степанов Вячеслав Васильевич </h3>
						<p>к.т.н. доцент</p>
						<a class="links-teachers" href="stepanov">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



					<div class="teacher">
						<img src=https://aero.spbstu.ru/images/aero/lectors/shmidt.jpg alt="Преподаватель">
						<h3>Шмидт Александр Александрович </h3>
						<p>к.ф.-м.н. доцент </p>
						<a class="links-teachers" href="shmidt">Публикации</a>
						<a class="links-teachers" href="">Email</a>
					</div>



		<div/>
{% endblock%}