body{
    background: white;
}
aside{
    position: fixed;
    float:left;
    background: #fff;
    width: 15.5%;
    padding: 2.5%;
    height: 100vh;
    color: black;
    border-right:5px solid #4d4d4d
}
aside ul li{
    font-weight: bold;
}

aside img{
    width: 150px;
    float:left;

}

aside h3{
    margin-top: 180px;
    font-size: 30px;

}

aside ul li{
    color:black;
    display: block;
    margin-top: 8px;
    transition: all .6s ease;
    margin-left: -20px;
}


aside ul li:hover{
    color: #486ee1;
    text-decoration: none;
    transform: scale(1.05);

}

aside ul a{
    text-decoration: none;
}


main .GGT{
    text-align: center;

}

main .home-page{
    background: #f5f5f5;
    height: 160vh;

    margin-left: 100px;
    margin-right: 50px;

}

main .home-page_2{
    background: #f5f5f5;
    height: 84vh;

    margin-left: 100px;
    margin-right: 50px;

}

main .home-text {
    position: relative;
    top: 20px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 20px;
    font-weight: normal;
    font-size: 22px;
    padding-bottom: 30px;
    text-indent: 30px;


}

main .home-text_2 {
    position: relative;
    top: 20px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 20px;
    font-weight: normal;
    font-size: 22px;


}

main .university{
    position: relative;
    margin-top: 20px;
    text-align:;

}

main .test-page{
    color: black;
    text-align: center;
}
